.stories-list-wrapper {
  position: relative;
  border-bottom: 1px solid var(--color-border-primary) !important;
  height: 95px;
}

.stories-list {
  overflow-x: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.stories-list::after {
  content: '';
  clear: both;
  display: table;
}

.user-story {
  margin-right: 20px;
  text-align: center;
  width: 64px;
}

.user-story button {
  background: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 64px;
}

.user-story button div.img-wrapper {
  border: solid 4px #0366d6;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin-bottom: 3px;
}

.user-story .user-story-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

img.user-story-img {
  border-radius: 50%;
  width: 56px;
}
